<h1>Add a book</h1>

<form action='/books' method='post'>
  <label for='name'>Title: </label>
  <input id='name' name='name' type='text'>

  <label for='author'>Author: </label>
  <input id='author' name='author' type='text'>

  <label for='copies'>Number of Copies: </label>
  <input id='copies' name='copies' type='text'>
  
  <button type='submit'>Add Book</button>
</form>