<h1>Search for a book by author: </h1>

<form action='/books/search' method='post'>
  <label for='author'>Author: </label>
  <input id='author' name='author' type='text'>

  <button type='submit'>Search</button>
</form>