<h1>Search for a book by title: </h1>

<form action='/books/searchTitle' method='post'>
  <label for='name'>Title: </label>
  <input id='name' name='name' type='text'>

  <button type='submit'>Search</button>
</form>