@{
  Layout = "_Layout";
}
<h2>Your searched for @Model.GetName()</h2>

<ul>
<li>Author: @Model.GetAuthor()</li>
<li>Number of Copies Available: @Model.GetCopies()</li>
<li>Book ID: @Model.GetId()</li>
</ul>